@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600italic);
@font-face {
  font-family: Axis;
  src: url("../fonts/Axis.otf") format("opentype"); }
@font-face {
  font-family: Bariol Regular;
  src: url("../fonts/Bariol_Regular.otf") format("opentype"); }
body {
  margin: 0;
  padding: 0; }

body::before {
  background: white;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0; }

body::after {
  background: white;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 0; }

.section {
  width: 100%;
  height: 100vh; }

.top-bar {
  background-color: transparent;
  text-align: center; }
  .top-bar .top-bar-section .menu {
    background-color: #E84545;
    display: inline-block;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .top-bar .top-bar-section .menu .title {
      padding: 5px;
      font-family: Axis, sans-serif;
      font-size: 20px; }
      .top-bar .top-bar-section .menu .title .title-link {
        color: #2B2E4A; }
    .top-bar .top-bar-section .menu .title:hover {
      background-color: #570b0b; }
      .top-bar .top-bar-section .menu .title:hover .title-link {
        color: #E84545; }
    .top-bar .top-bar-section .menu .active {
      background-color: #570b0b;
      color: #E84545 !important; }
  .top-bar .top-bar-title span {
    margin-bottom: 5px; }

#home {
  background-size: cover;
  background-image: url(../images/sd7.jpg);
  background-color: #2B2E4A;
  background-blend-mode: luminosity; }
  #home #social-icon {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #3b5998;
    z-index: 9999;
    border: 5px solid white;
    display: flex;
    color: white; }
    #home #social-icon .social-icon-fa {
      margin: auto; }

.section-row {
  margin-top: 20px; }

#event-details {
  position: absolute;
  bottom: 5%;
  margin: 0 20px;
  text-align: left;
  overflow: hidden; }
  #event-details #event-name {
    text-align: left;
    line-height: 1;
    color: #E84545; }
  #event-details #event-name h1 {
    font-family: Axis, sans-serif;
    color: #E84545; }
  #event-details .event-info h3 {
    color: #E84545;
    font-family: Bariol Regular, sans-serif; }
  #event-details .event-info h3 span {
    font-family: Axis, sans-serif;
    font-size: 24px;
    color: #903749; }

.section-wrapper {
  background-color: #2B2E4A; }

#events {
  width: auto;
  height: auto; }
  #events .events-row-event {
    width: auto; }
    #events .events-row-event .events-row-wrapper {
      background-color: white;
      max-height: 100%; }
      #events .events-row-event .events-row-wrapper .events-row-name {
        text-align: center; }
        #events .events-row-event .events-row-wrapper .events-row-name .event-row-name-h3 {
          font-family: Axis, sans-serif;
          color: #E84545; }
      #events .events-row-event .events-row-wrapper .events-row-image {
        text-align: center; }
      #events .events-row-event .events-row-wrapper .events-row-info {
        text-align: center;
        padding-bottom: 7px; }
        #events .events-row-event .events-row-wrapper .events-row-info .events-row-info-a {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          color: #E84545; }

#social-icon:hover {
  color: #3b5998;
  background-color: white; }

#about {
  width: auto;
  height: auto; }
  #about #about-row {
    margin: 20px 0;
    max-width: 100%; }
    #about #about-row .about-section {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0 20px 20px 20px; }
    #about #about-row .about-section-name h4 {
      font-family: Axis, sans-serif;
      color: #E84545;
      padding-bottom: 5px;
      border-bottom: 5px solid #903749; }
    #about #about-row .contact-info {
      margin-bottom: 10px; }
      #about #about-row .contact-info .contact-name, #about #about-row .contact-info .contact-number {
        font-family: "Open Sans", sans-serif;
        color: #E84545; }
      #about #about-row .contact-info .contact-role {
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-weight: 600;
        color: #903749; }

.menu-icon.dark {
  width: 30px;
  height: 30px; }

.menu-icon.dark::after {
  background: #E84545;
  box-shadow: 0 7px 0 #E84545, 0 14px 0 #E84545; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  #event-name h1 {
    font-size: 40px; }

  #social-icon {
    width: 50px;
    height: 50px; }
    #social-icon .social-icon-fa {
      font-size: 25px; }

  body {
    border: 5px white solid; }

  body::before {
    height: 5px; }

  body::after {
    height: 5px; }

  .events-row-1 {
    padding-top: 30px; }

  .events-row-wrapper {
    margin-top: 20px; }

  #about-row {
    padding-top: 30px; } }
/* Medium and up */
@media screen and (min-width: 40em) {
  #social-icon {
    width: 60px;
    height: 60px; }
    #social-icon .social-icon-fa {
      font-size: 30px; }

  body {
    border: 10px white solid; }

  body::before {
    height: 10px; }

  body::after {
    height: 10px; }

  .contact-name, .contact-number, .contact-role {
    font-size: 20px; }

  .events-row {
    padding-top: 60px; }

  #about-row {
    padding-top: 60px; } }
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #event-name h1 {
    font-size: 60px; } }
/* Large and up */
@media screen and (min-width: 64em) {
  #event-name {
    margin-bottom: -25px; }

  #event-name h1 {
    font-size: 100px;
    margin-left: -5px; }

  body {
    border: 20px white solid; }

  body::before {
    height: 20px; }

  body::after {
    height: 20px; } }
/* Large only */

/*# sourceMappingURL=style.css.map */
